[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/my-plugins/start/vim-latex"]
	path = vim/pack/my-plugins/start/vim-latex
	url = https://github.com/vim-latex/vim-latex
